[
  {
    "Action": "ec2:*",
    "Effect": "Allow",
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Action": "elasticloadbalancing:*",
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Action": "cloudwatch:*",
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Action": "autoscaling:*",
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Action": "dynamodb:*",
    "Resource": "*"      
  }
]
